@font-face {
    font-family: Norse;
    src: url("static/Norse-Bold.otf");
}

body {
    display: flex;
    height: 100vh;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.left {
    background-image: url("static/virtualreality.jpg");
    background: url("static/virtualreality.jpg");
    width: 35%;
    min-width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

img {
    width: 100%;
    height: 100%;
}

.logo {
    display: flex;
    font-family: Norse;
    height: 120px;
    background-color: rgba(0,0,0,.5);
    width: 100%;
    font-size: 4rem;
    color: white;
    justify-content: center;
    margin-top: 300px;
    align-items: center;
}

#odinLogo {
    height: 90px;
    width: auto;
}

.credit {
    bottom: 0;
}

.right {
    display: flex;
    flex-direction: column;
}

.description {
    font-weight: 600;
    font-size: 1.5rem;
    padding: 160px 130px 50px 35px;
    background-color: #F9FAFB;

}

.signup {
    padding: 20px 35px;
    box-shadow: 0px 5px 5px rgb(0 0 0 / 12%);
}

.lower {
    display: flex;
    flex-direction: column;
    padding: 25px 300px 200px 35px;
    background-color: #F9FAFB;
}

a {
    color: #D68B0E;
    text-decoration: none;
    font-weight: 600;
}

button {
    border-radius: 5px;
    width: 190px;
    padding: 12px 30px;
    margin-bottom: 20px;
    background-color: #D68B0E;
    border: 2px solid white;
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;
    color: white;
}

.formgrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-bottom: 25px;
}

.element {
    width: fit-content;
}

/*input,
textarea,
select,
button {
  width: 150px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}*/

input, label {
    display: block;
}

input {
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid rgb(224, 224, 224);
    font-size: .9rem;
    margin-top: 3px;
}

.signup-form {
    font-weight: 600;
    display: flex;
    font-size: 0.8rem;
    color: #1F2937;
    letter-spacing: 0.1em;
    /*flex-flow: row wrap;*/
  }

  input:focus {
    border: 1px solid blue;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  }